body {
	max-width: 400px;
}
.card h1 {
  font-family: "Chewy", Sniglet, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 0.618rem;
}

/*Resize Giant images*/
.card img {
	height: 200px;
	width: 300px;
}

.card{
	background-color: #547a82;
	border-radius: 5px;
	color: black;
}

.card button{
	color: #black;
	border-radius: 5px;
	background-color: white;
}

.card-block {
	max-width: 500px;
}
.container  {
  display: flex;
  position: absolute;
  top: 90px;
  left: 520px;
  height: 55%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}